body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url("https://www.shutterstock.com/shutterstock/photos/2050037234/display_1500/stock-photo--d-render-abstract-minimal-neon-background-with-glowing-wavy-line-dark-wall-illuminated-with-led-2050037234.jpg");
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  height:50vh;
  width:40vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
